.App {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 60vw;
  padding: 20px;
}
.col-3 {
  margin: auto;
}
.Main-page {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Functionality {
  margin: 20px;
}
.emailsContainer {
  margin: 10px;
  border: 1px solid black;
}
.email {
  text-align: center;
}
.box {
  border: 1px solid blueviolet;
  margin: 15px;
  padding: 15px;
}
